body {
  background-color: white !important;
}

a {
  text-decoration: none !important;
  transition: ease;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

h3 {
  text-align: center;
}
