<p id="notice"><%= notice %></p>

<h1>Cases</h1>
<% @cases.each do |c| %>
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading"><%=  c.name %> </h2>
      <p class="lead"><%= c.description  %> </p>
    </div>
    <div class="col-md-5">
      <div style="width: 300px; height: 300px; object-fit: cover;">
        <%= cl_image_tag c.photo.key, height: 300, width: 400, crop: :fill %></svg>
      </div>
    </div>
  </div>
<% end %>
