<div class="banner">

  <div class="container">
    <div class="col-md-6 col-sm-12">
      <div class="banner-t">
      <h1>EL</h1>
    <h1 class="glitch is-glitching" data-text="TACO">TACO </h1>
    <h1>LAB</h1>
    <h3 style="padding-bottom: 10px;">WEB & CREATIVE DESIGN</h3>
      <a class="btn-taco-ghost" href="#">Get in touch</a>
      </div>
    </div>
    <div class="col-md-6">
    </div>
  </div>
</div>
