<div class="banner">
  <div class="container">
    <div class="col-m-6">
      <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
      <p>Change your life and learn to code at one of our campuses around the world.</p>
      <a class="btn btn-flat" href="#">Apply now</a>
    </div>
    <div class="col-m-6">

    </div>
  </div>
</div>
