<div class="container">
  <h1>Our work</h1>
  <div class="cards">
    <% @cases.each do |c| %>
        <div class="card-trip">
          <%= cl_image_tag c.photo.key %>
          <div class="card-trip-infos">
            <div>
              <h2><%=  c.name %></h2>
              <p><%= c.description %></p>
            </div>
            <h2 class="card-trip-pricing"></h2>
          </div>
        </div>
    <% end %>
  </div>
</div>
