<%= render 'shared/banner' %>
<section id="services">
  <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div id="card-pink"class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Brand Strategy</h2>
        <p class="lead">Logo, slogan, big idea, buyer persona? We'll help you create a brand identity which can be translated into digital products.</p>
      </div>
      <div class="bg-light shadow-sm mx-auto" style="width: 90%; height: 300px; border-radius: 21px 21px 0 0;;"><img src="https://res.cloudinary.com/therainycloud/image/upload/v1580807535/animation_14_evrpoo.gif" alt="" style="object-fit: cover; height: 100%; width: 100%; border-radius: 21px 21px 0 0;"></div>
    </div>
     <div id="card-black"class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">UI/UX Web Design</h2>
        <p class="lead">From the prototype to an innovative design, our team of UX/UI designers and developers wil work along to create a valuable website design.</p>
      </div>
      <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"><img src="https://res.cloudinary.com/therainycloud/image/upload/v1580820464/Untitled_design_36_1_k51hel.png" alt="" style="object-fit: cover; height: 100%; width: 100%; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div id="card-pink"class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Web Applications</h2>
        <p class="lead">Looking to build the next marketplace, dating site or e-commerce platforme? Our team of full stack developers are ready to tackle your next project!</p>
      </div>
      <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"><img src="https://res.cloudinary.com/therainycloud/image/upload/v1580821780/Untitled_design_37_1_llnekn.png" alt="" style="object-fit: cover; height: 100%; width: 100%; border-radius: 21px 21px 0 0;"></div>
    </div>
  </div>
</section>
  <%= render 'shared/contact' %>
<section>

</section>
