.btn-taco-ghost {
  background-color: none;
  border-style: solid;
  border-color: #ff66c4;
  padding: 10px 40px;
  border-radius: 50px;
  color: #ff66c4 !important;
  margin-top: 10px;
  &:hover {
    color: rgba(255, 102, 196, 0.7);
    border-style: solid;
    border-color: rgba(255, 102, 196, 0.7);

    // transition-delay: 0.2s
  }
}

.btn-taco {
  background-color: #ff66c4;
  padding: 10px 40px;
  border-radius: 50px;
  color: white;
  &:hover {
    background-color: rgba(255, 102, 196, 0.7);
  }
}
